.suggestions-container {
    max-height: 150px;
    overflow: auto;
    width: 250px;
}

.suggestion {
    background-color: rgba(255, 255, 255, 0.4);
}

.suggestion:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.my-location:hover {
    color:rgb(36, 36, 133);
    text-decoration-line: underline;
    cursor: pointer;
}

.icon-loading {
    width: 32px;
    animation: loading-rotation 3s linear infinite;
}

.icon-container {
    display: flex;
    justify-content: center;
}

@keyframes loading-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }